html {
    scroll-behavior: smooth;
}
h1 {
    color:rgb(224, 150, 13);
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 250%;
}
h2 {
    color: #be2148;
}
h3 {
    color: #be2148;
}
.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating-button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}
body {
    background: radial-gradient(circle farthest-corner at 100px 50px, #292726, #030303);
    width: auto;
    height: auto;
    margin: 10px 20px;
}
div {
    margin-top: 65px;
}
ol a {
    text-decoration: none;
    color:rgb(38, 197, 189);
}
ol a:hover {
    color: #cccace;
}
.button {
    text-decoration: none;
    display: inline-block;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    color: white;
    font-size: 14px;
    background: #383d48; 
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.button:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background: linear-gradient(225deg, #BEFDE6 45%, #aaaaaa 50%, #cccccc 56%, white 80%);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .4);
    transition: .3s;
}
.button:hover:before {
    width: 20px;
    height: 20px;
}
.sliding-button {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 8px 18px;
    border: 1px solid;
    border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    border-image-slice: 1;
    margin: 5px 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
}
.sliding-button:hover {
    background: rgba(255, 255, 255, 0);
}
.sliding-button:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 8px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}